{{#link-to 'admin.presentations.new' tagName='button' classNames='btn btn-primary'}}Add New{{/link-to}}

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Title</th>
      <th>Body</th>
      <th>Lightning?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedMeetups as |meetup|}}
      {{#each meetup.presentations as |talk|}}
        <tr>
          <td>{{talk.id}}</td>
          <td>{{moment talk.meetup.date 'MM/DD/YYYY'}}</td>
          <td>{{talk.title}}</td>
          <td>{{talk.body}}</td>
          <td>
            {{#if talk.isLightningTalk}}
              <i class="fa fa-bolt"></i>
            {{/if}}
          </td>
          <td>
            {{#link-to 'admin.presentations.presentation.edit' talk.id}}Edit{{/link-to}}
            <a href="#" {{action 'deleteMeetup' meetup}}>Delete</a>
          </td>
        </tr>
      {{/each}}
    {{/each}}
  </tbody>
</table>
