{{#if hasNextMeetup}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2 info-block">
      <h2>Next Meetup:</h2>
      <h4 class="meetup-title">{{meetupTitle}}</h4>
      <h4 class="meetup-date">{{moment meetup.date 'MMMM Do, YYYY - h:mmA'}}</h4>
    </div>
  </div>

  <div class="row next-meetup-presentations">
    {{#each meetup.presentations as |p|}}
      {{! TODO presentation component}}
      <div class="presentation col-md-6">
        {{#if p.hasImage}}
          <img src={{p.image}}>
        {{else}}
          <img class="img-rounded" src={{p.speaker.githubAvatarURL}}>
        {{/if}}

        <p class="title">{{p.title}}</p>
        <p class="by-line">by {{p.speaker.fullName}}</p>
        <p class="body">{{p.body}}</p>
      </div>
    {{/each}}
  </div>
{{else}}
  <h2>Next Meetup:</h2>
  <h4>(none scheduled)</h4>
{{/if}}